.nav {
  background-color: var(--main-color);
  width: 300px;
  padding: 20px;
  position: relative;
}

.nav .navbar {
  position: fixed;
}
.nav .navbar .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.nav .navbar .logo img {
  width: 60px;
  height: 60px;
}
.nav .navbar .logo .logo-text {
  font-size: 25px;
  color: #fff;
}
.navbar .nav-links .menu {
  padding: 0 20px;
  font-size: 25px;
  color: #fff;
  transition: var(--main-trans);
  cursor: pointer;
  display: none;
}
.navbar .nav-links .menu:hover {
  background-color: var(--bgbox);
}
.navbar .nav-links .links li a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  transition: var(--main-trans);
}
.navbar .nav-links .links li a.active {
  background-color: var(--bgbox);
}
.nav .navbar .nav-links .links li a .icon {
  margin-right: 10px;
}
.navbar .nav-links .links li a:hover {
  background-color: var(--bgbox);
}
.navbar .nav-links .links li.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.nav .navbar .nav-links .links li.contact a {
  margin-right: 10px;
  padding: 5px 10px;
}
.navbar .nav-links .links li.contact a:hover {
  border-radius: 8px;
}
.nav .navbar .nav-links .links li.contact a .icon {
  margin-right: 0px;
  font-size: 25px;
}

@media (max-width: 991px) {
  .nav {
    width: 100%;
    position: relative;
  }
  .nav .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav .navbar .logo {
    margin: 0;
  }
  .nav .navbar .logo img {
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
  }
  .nav .navbar .logo .logo-text {
    font-size: 16px;
  }
  .nav .navbar .nav-links .links {
    background-color: var(--main-color);
    padding: 20px;
    position: absolute;
    right: -20px;
    top: 59px;
    z-index: -1;
    transition: var(--main-trans);
    transform: translateY(100px);
    opacity: 0;
  }
  .nav .navbar .nav-links .links.show {
    transform: translateY(0px);
    opacity: 1;
    z-index: 10000;
  }
  .nav .navbar .nav-links .links li a {
    padding: 10px 70px 10px 10px;
  }

  .navbar .nav-links .menu {
    display: block;
  }
}
